:host {
    display: flex;
    height: 100%;
    min-height: 100%;
}

.mat-tab-nav-bar {
    border-bottom: 1px solid #fff;
    a {
        color: #fff;
    }
    .mat-tab-link {
        &.cdk-mouse-focused {
            border-bottom: 3px solid #fff;
        }
    }
}