<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Organic World Platform</title>
  <base href="/app">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="/webapp/styles.css" media="screen">
</head>

<body class="mat-sidenav-container">
  <app-root></app-root>
</body>
<script src="/webapp/runtime-es5.js" type="module"></script>
<script src="/webapp/main-es5.js" type="module"></script>
<script src="/webapp/polyfills-es5.js" type="module"></script>