<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Organic World PLatform Login</title>
  <link rel="stylesheet" href="/style.css" media="screen">
</head>

<body class="container">
<div class="ui-view">
    <div class="sa-login">
        <span class="bg-arrow"></span>
        <form name="loginForm" action="/login" method="POST">
            <label>Username:<input type="text" tabindex="1" name="u" placeholder="username"/></label>
            <label>Password:<input type="password" tabindex="2" name="p" placeholder="password"/></label>
            <input type="submit" class="btn green ml-50" value="Login">
        </form>
    </div>
</div>