<menu class="mat-typography">
  <div class="logo"></div>
  <ul>
      <li><a href="#" routerLink="/home"><mat-icon [ngStyle]="{'color':'#b2cde4'}">home</mat-icon><span>Home</span></a></li>
      <li><a href="#" routerLink="/people"><mat-icon [ngStyle]="{'color':'#b2cde4'}">people</mat-icon><span>People</span></a></li>
      <li><a href="#" routerLink="/expences"><mat-icon [ngStyle]="{'color':'#b2cde4'}">monetization_on</mat-icon><span>Expenses</span></a></li>
      <li><a href="#" routerLink="/invoices"><mat-icon [ngStyle]="{'color':'#b2cde4'}">receipt</mat-icon><span>Invoices</span></a></li>
      <li><a href="#" routerLink="/reports"><mat-icon [ngStyle]="{'color':'#b2cde4'}">timeline</mat-icon><span>Reports</span></a></li>
  </ul>
</menu>
